html,
body {
  font-family: sans-serif;
  background-color: #e8e8e8;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  
  max-width: 1190px;
  height: 100%;
  margin: 0 auto;
  padding: 106px 108px 0 142px;
}

.content {
  background-color: #e8e8e8;
}


.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading__subtitle {
  opacity: 0.6;
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #273d46;
  margin-bottom: 28px;
}

.heading__title {
  font-family: 'Times New Roman';
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  color: #273d46;
  text-align: center;
  margin-bottom: 77px;
}

.content__img  img{
  border: 10px solid #fff;
  margin-bottom: 97px;
  width: 100%;
}

.content__text {
  max-width: 700px;

}

.text__paragraph {
  opacity: 0.8;
  font-family: 'Times New Roman';
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #273d46;
}


.content__list {
  margin-bottom: 59px;
  margin-top: 64px;
}

.list__item::before {
content: url(/img/check.png);
margin-right: 10px;
}

.item-1 {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #273d46;
}

.item-2 {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  font-style: italic;
  color: #80b7b3;
}

.item-3 {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #273d46;
}

.item-4 {
  opacity: 0.3;
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-decoration: line-through;
  color: #273d46;
}

.content__btn {
  margin-bottom: 137px;
}

.content__btn span::after {
  content: url(/img/arrow.png);
  margin-left: 5px;
}

.button {
  width: 199px;
  height: 44px;
  box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
  background-color: #80B7B3;
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  border-radius: 25px;
  transition: .5s;
}

.button:hover {
  box-shadow: 0 0 0 10px rgba(97, 195, 161, 0.216);
}